.App{
  height: 100vp;/*full width of size of screen whatever device*/
  display:flex;
 justify-content: center;
  color: white;
  align-items: center;
  background-color: #282c34;
}

.container{
  display: flex;
  width:80vh;
  padding: 20px;
  border:5px solid grey;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color:white;
}

.todoform{
  display:flex;
  justify-content: space-around;
  height:auto;
  width: auto;
}

button{
  border:none;
  padding:10px;
  border-radius: 20px;
  margin:0 5px;
}

input
{
  width: auto;
  padding: 10px;
  border-radius: 20px;
}

.allTodos{
  list-style: none;
  margin: 0;
  padding:0;
}

.singleTodo{
  border-radius: 50px;
  margin: 10px 0px;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: auto;
  align-items: center;
}
.todoText{
  flex:1;
}