.App{
 /* height: 100vp;/*full width of size of screen whatever device*/
  display:flex;
 justify-content: center;
  color: white;
  align-items: center;
  background-color: #282c34;
}

.container{
  display: flex;
  width:auto;
  padding: 20px;
  border:5px solid grey;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color:white;
  position:relative;
}

.todoform{
  display:flex;
  /*height:auto;*/
  /*width:auto;*/
  justify-content: center;
}

button
{
  border:none;
  padding:10px;
  border-radius: 20px;
  margin:0 5px;
}

input
{
  width: auto;
  padding: 10px;
  border-radius: 20px;
}

.allTodos{
  list-style: none;
  margin: 0;
  padding:0;
  max-width: 600px;
}

.singleTodo{
  border-radius: 50px;
  margin: 10px 0px;
  background-color: #5dadf8;
  padding: 10px 20px;
  /* display: flex; */
  width: auto;
  /* align-items: center; */
}

p.todoText{
  max-width: 400px;
  overflow-wrap: break-word;
}